.page {
  font-family: 'Inter';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  background-color: #2a2c2f;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
}