.photo-grid {
  margin: 92px auto 0 auto;
  max-width: 1184px;
  min-width: 320px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 284px);
  gap: 16px;


}

@media (max-width:1180px) {
  .photo-grid {
    grid-template-columns: repeat(auto-fill, 300px);
    gap: 14px;
    margin: 88px 48px 0 48px;
  }
}

@media (max-width:925px) {
  .photo-grid {
    grid-template-columns: repeat(auto-fill, 352px);
    gap: 16px;
  }
}

@media (max-width:384px) {
  .photo-grid {
    grid-template-columns: repeat(auto-fill, 288px);
    margin: 64px 16px 0 16px;
    row-gap: 12px;
  }
}