.photo-grid {
  margin: 92px auto 0 auto;
  max-width: 1184px;
  min-width: 320px;
  box-sizing: border-box;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(284px, min-content));
  object-fit: cover;
  gap: 16px;
}

@media (max-width:644px) {
  .photo-grid {
    margin: 92px 24px 0 24px;
  }
}