.header__links {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  gap: 18px;
  align-items: center;
  align-self: flex-end;
  position: relative;
  top: -5px;
}