.photo-grid__item {
  margin: 0;
  padding: 0;
  width: 284px;

}

@media (max-width:1180px) {
  .photo-grid__item {
    width: 300px;
  }
}

@media (max-width:925px) {
  .photo-grid__item {
    width: 352px;
  }
}

@media (max-width:384px) {
  .photo-grid__item {
    width: 288px;
  }
}