.place__paragraph {
  color: #fff;
  margin: 0;
  padding: 0;
  max-width: 484px;
  height: fit-content;
  font-weight: 400;
  font-size: 18px;
  line-height: 29.34px;
}

.place__paragraph:first-of-type {
  margin-bottom: 26px;
}

@media (max-width:900px) {
  .place__paragraph {
    font-size: 16px;
    line-height: 26.08px;
  }

}