.intro__text {
  max-width: 690px;
  margin: 40px 0 0 0;
  padding: 0;
  font-size: 16px;
  line-height: 26px;
  text-align: left;
}

@media (max-width: 1024px) {
  .intro__text {
    padding: 0 24px;
  }
}

@media (max-width: 425px) {
  .intro__text {

    padding: 0 16px;
  }
}