.cover {
  padding: 0;
  margin: 92px auto 0;
  width: 100%;
  outline: 2px solid green;
  }

@media screen and (max-width:925px) {
  .cover {
    margin: 88px auto 0;
  }
}

@media screen and (max-width:720px) {
  .cover {
    margin: 64px auto 0;
  }
}

