.place {
  color: #fff;
  box-sizing: border-box;
  display: grid;
  grid-template-areas:
    "title website"
    "image place__text"
    "image place__text"
  ;
  justify-items: start;
  row-gap: 48px;
  column-gap: 40px;
  margin: 92px 0 0 0;
}

@media (max-width:1056px) {
  .place {
    column-gap: 32px;
    margin: 80px 0 0 0;
  }
}
@media (max-width:868px) {
  .place {
    column-gap: 28px;
    margin: 72px 0 0 0;
  }
}
@media (max-width: 767px) {
  .place {
    grid-template-areas:
      "title"
      "website"
      "image"
      "place__text"
    ;
    margin: 50px 0 0 0;
    row-gap: 32px;
  }
}