.footer {
  margin: 36px 0 0;
  padding: 0 0 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-area: footer;
}

@media screen and (max-width: 1184px) {
  .footer {
    margin: 40px 0 0;
    padding: 0 24px 24px;
  }
}


@media screen and (max-width: 767px) {
  .footer {
    display: block;
    padding: 0 16px 24px;
    margin: 16px 0 0;
  }
}